/* Navbar styles */
nav {
  background-color: #045a83;
  color: white;
  padding: 10px 0;
}

.navbar-container {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  flex: 1; /* Add this to make the logo take the available space */
}

/* Remove underline and blue color from anchor links */
.logo a,
.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  margin-left: auto; /* Push the navigation links to the right */
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #007bff;
}
