/* Navbar styles */
nav {
    background-color: #333;
    color: white;
    padding: 10px 0;
  }
  
  .navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Remove underline and blue color from anchor links */
  .logo a,
  .nav-links a {
    color: white;
    text-decoration: none;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #007bff;
  }
  